<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>l75VnPPmufHkqgOJAltL5uMzB1RtfxbQfe2S38VQLJ2vHuYUdl</string>
	<key>API Key</key>
	<string>mwenVMbuCcnotQfWTU1mccIZx</string>
</dict>
</plist>
